.vector-icon {
  position: relative;
  width: 1115.23px;
  height: auto;
  opacity: 0.35;
}
.svg {
  position: absolute;
  top: 122.31px;
  left: calc(50% - 75.66px);
  width: 1344px;
  /* height: 1130px; */
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 1.460919976234436px 114.42007446289062px 0.589983344078064px
    114.34579467773438px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  transform: rotate(45deg);
  transform-origin: 0 0;
}
.welcome-to-dayzero {
  margin-right: 130px;
  position: relative;
  line-height: 75px;
  font-weight: 500;
}
.heading-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.blueprint-to-brilliance {
  position: relative;
  margin-right: 120px;
  letter-spacing: 15px;
  line-height: 24px;
  font-weight: 300;
}
.ppage-tagmargin {
  display: flex;
  flex-direction: column;
  padding: var(--padding-5xs) 7.25px var(--padding-23xl) 7.45001220703125px;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-xl);
  color: var(--color-whitesmoke-100);
}
.a-blueprint-engine {
  font-weight: 300;
}
.a-blueprint-engine-container {
  position: relative;
  line-height: 40px;
  display: inline-block;
  max-width: 1824px;
}
.heading-2,
.heading-2margin,
.section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.heading-2 {
  width: 1824px;
  padding: 0 404.3999938964844px 0 404.6000061035156px;
  justify-content: flex-start;
}
.heading-2margin,
.section {
  justify-content: center;
}
.heading-2margin {
  width: 1824px;
  padding: 0 0 var(--padding-base);
  font-size: var(--font-size-3xl);
  color: var(--color-lightgray);
}
.section {
  width: 1920px;
  padding: var(--padding-45xl) var(--padding-29xl) var(--padding-23xl);
}
.create-your-account {
  position: relative;
  line-height: 32px;
  font-weight: 500;
  display: inline-block;
  max-width: 382px;
}
.pform-title {
  width: 382px;
  display: flex;
  flex-direction: column;
  padding: 0 73.9050064086914px 0 74.0949935913086px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-5xl);
}
.fill-your-details {
  position: relative;
  line-height: 14px;
  font-weight: 300;
  display: inline-block;
  max-width: 382px;
}
.pform-subtitle {
  width: 382px;
  display: flex;
  flex-direction: column;
  padding: 0 94.90499877929688px 0 95.09500122070312px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  font-size: var(--font-size-sm);
  color: var(--color-silver);
}
.svg-icon {
  position: relative;
  width: 19px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.continue-with-google {
  position: relative;
  line-height: 22.5px;
}
.button1,
.span1 {
  display: flex;
  flex-direction: column;
  padding: 0 0 var(--padding-12xs-5);
  align-items: center;
  justify-content: flex-start;
}
.button1 {
  cursor: pointer;
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 382px;
  height: 52px;
  flex-direction: row;
  padding: var(--padding-sm) 99.41000366210938px var(--padding-sm)
    99.94999694824219px;
  gap: var(--gap-6xs);
}
.or {
  position: relative;
  line-height: 24px;
}
.span2 {
  position: absolute;
  top: -11px;
  left: 163.8px;
  background-color: var(--color-gray-200);
  display: flex;
  flex-direction: column;
  padding: 0 15.419998168945312px 0 var(--padding-base);
  align-items: flex-start;
  justify-content: flex-start;
}
.divline {
  position: relative;
  border: 1px solid var(--color-darkslategray);
  box-sizing: border-box;
  width: 382px;
  height: 2px;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-silver);
}
.divor-box {
  width: 382px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.enter-full-name {
  position: relative;
  display: inline-block;
  max-width: 348px;
}
.divplaceholder {
  width: 348px;
  overflow: hidden;
  padding: var(--padding-12xs) var(--padding-217xl) 0 0;
}
.divplaceholder,
.divplaceholder1,
.divplaceholder2,
.input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
}
.input {
  border-radius: var(--br-7xs);
  border: 1px solid var(--color-darkslategray);
  width: 382px;
  height: 52px;
  padding: var(--padding-base-5) var(--padding-mid);
  background-color: black;
  color:white;
  font-size: 15px;
}
.divplaceholder1,
.divplaceholder2 {
  width: 348px;
  overflow: hidden;
  padding: var(--padding-12xs) var(--padding-187xl) 0 0;
}
.divplaceholder2 {
  padding: var(--padding-12xs) var(--padding-163xl) 0 0;
}
.create-an-account {
  position: relative;
  line-height: 22.5px;
  display: inline-block;
  max-height: 50px;
  width:100%;
}
.button2 {
  cursor: pointer;
  border-radius: var(--br-7xs);
  background-color: var(--color-royalblue);
  border: 1px solid var(--color-dodgerblue);
  box-sizing: border-box;
  height: 52px;
  display: flex;
  flex-direction: column;
  padding: 13.75px 124.9000015258789px 15.25px 125.0999984741211px;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  color: var(--color-whitesmoke-100);
  width:100%;
}
.login {
  cursor: pointer;
  color: var(--color-dodgerblue);
}
.do-you-already-container {
  position: relative;
  line-height: 14px;
  display: inline-block;
  max-width: 382px;
}
.pswitch-link {
  width: 382px;
  padding: 0 60.90000534057617px 0 61.09999465942383px;
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-sm);
  color: var(--color-silver);
}
.divpage-fg,
.form,
.pswitch-link,
.section1 {
  display: flex;
  flex-direction: column;
}
.form {
  width: 382px;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: left;
  color: var(--color-dimgray);
}
.divpage-fg,
.section1 {
  box-sizing: border-box;
}
.section1 {
  margin-right: 130px;
  border-radius: var(--br-5xs);
  background-color: var(--color-gray-200);
  border: 1px solid var(--color-gray-100);
  width: 480px;
  height: 612px;
  padding: var(--padding-29xl) var(--padding-30xl) var(--padding-30xl);
  align-items: flex-start;
  justify-content: flex-end;
  gap: var(--gap-13xl);
  max-width: 480px;
  min-height: 480px;
  font-size: var(--font-size-mini);
  color: var(--color-whitesmoke-200);
}
.divpage-fg {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 76.5px;
  right: -84px;
  bottom: -76.5px;
  left: 84px;
  /* overflow: hidden; */
  padding: 0 0 var(--padding-138xl);
  align-items: center;
  justify-content: flex-start;
}
.divlayout-auth-page {
  flex: 1;
  /* position: top; */
  background-color: var(--color-black);
  /* height: 1080px; */
  /* overflow: hidden; */
  text-align: center;
  font-size: var(--font-size-45xl);
  color: var(--color-gainsboro);
  font-family: var(--font-inter);
}
